<h1>
  Add a new user
</h1>


<hr>

<!-- Form user start -->
<form action="/create_user" method="post">
<!-- Form user end -->

  <!-- Label and input for first_name start -->
  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <!-- Input for first_name start -->
    <input type="text" id="first_name" name="first_name" class="form-control">
    <!-- Input for first_name end -->
  </div>
  <!-- Label and input for first_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create user
  </button>
</form>

<hr>

<a href="/users">
  Go back
</a>
